.form--simple {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form--simple .field {
  width: 49%;
}

.form--different-row-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form--different-row-width .field:nth-child(1) {
  width: 40%;
}

.form--different-row-width .field:nth-child(2) {
  width: 59%;
}
